numpy==2.0.2
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
pandas==2.2.3
pdf2image==1.17.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==11.0.0
PyMuPDF==1.25.1
pyparsing==3.2.0
pytesseract==0.3.13
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
streamlit==1.41.1
tenacity==9.0.0
threadpoolctl==3.5.0
toml==0.10.2
tzdata==2024.2
urllib3==2.2.3
watchdog==6.0.0
xgboost==2.1.3